.app{width: 90%; margin: 0px auto;}
.menu{display: flex; justify-content: space-between; margin-bottom: 10px;}
.menu Button, .kuldes Button{text-transform: none; }
.page{background-color: white; border: 1px solid lightgray; border-radius: 5px; padding: 10px;}
.login{display: flex; gap: 15px;}
.login Button{text-transform: none; width: 100px;} 
.menu .login {
    display: flex; align-items: center; gap: 10px;
}
.kuldes {
    display: flex;
    gap: 10px;
}
.admin, .felhasznalok {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}